<item>
    <title>{title}</title>
    <link>{link}</link>
    <guid isPermaLink="true">{link}</guid>
    <description>
        {content}
    </description>
    <pubDate>{date}</pubDate>
    <dc:creator>Name here</dc:creator>
    <og:url>{link}</og:url>
    <og:title>{title}</og:title>
    <og:image>{image}</og:image>
    <og:description>

    </og:description>
    <og:type>article</og:type>
    <dc:format>text/html</dc:format>
    <dc:identifier>{link}</dc:identifier>
</item>
